<VirtualHost *:80>
     DocumentRoot	/var/www/html/dropshippers/web
     ServerName		dropshippers.dev
     <Directory /var/www/html/dropshippers/web>
            Allowoverride All
     </Directory>
</VirtualHost>