<VirtualHost {{ vhost_ip_address }}:{{ vhost_port }}>
     DocumentRoot	{{ document_root }}
     ServerName		{{ vhost_servername }}
     <Directory {{ document_root }}>
            Allowoverride All
     </Directory>
     ErrorLog ${APACHE_LOG_DIR}/error.log
     CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
